.product-card{
    width: 261px;
    height: 473px;
    padding-bottom: 24px;
    align-items: center;
    background: #CFB583;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.product-card img{
    align-items: center;
    width: 261px;
    height: 265px;
}

.product-info{
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    gap: 12px;
}

.product-info h3{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-info h4{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-info h5{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-detail{
    display: block;
    text-decoration: none;
    margin: auto;
    width: 156px;
    height: 39px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

a{
text-decoration: none;
}