.page-container{
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.page-container h1{
    text-align: center;
}

.products-container{
    margin-top: 20px;
    display: flex;
    gap:222px;
    flex-wrap: wrap;
    justify-content: center;
}
