.navbar{ 
    background-color: #de8181;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 60px;
}

.logo{
    color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 7px;
 
}

.logo img {
  height: 50px;
  width: 50px;
}
